AUTHENTIFICATION=basic
AUTH_USER=votre_login_api
AUTH_PW=votre_mot_de_passe_api
BDD_LOGIN=votre_login_bdd
BDD_PWD=votre_mot_de_passe_bdd
BDD_BD=mediatek86
BDD_SERVER=localhost
BDD_PORT=8889
LOG_PATH=/chemin/vers/rest_mediatekdocuments/logs/api.log
